body { font-family: OpenSansRegular, Helvetica Neue, Helvetica, Arial, sans-serif; color: #f0f0f0; font-weight: 400; line-height: 135%; }
.page-width-controller { width: 80%; margin-left: 10%; }
@media screen and (max-width:750px) {
 .page-width-controller { width: 100%; margin-left: 0; }
}
.content-pane { margin-top: 10px; box-sizing: border-box; }
.content-pane .content-paper { background: hsla( 0, 0%, 100%, .05 ); margin-top: 20px; border-radius: 25px; padding: 20px; transition: opacity .2s ease; overflow-x: auto; }
@media screen and (max-width:400px) {
 .header-pane { display: none; }
}
.header-pane { margin: 0; background: rgba( 8, 8, 8, .85 ); top: 0; z-index: 9; }
.body-root.pending-scroll { cursor: progress; }
code { font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, monospace; }
.header-text { line-height: 60px; font-size: 30px; font-family: OpenSansRegular, Helvetica Neue, Helvetica, Arial, sans-serif; margin-left: 30px; font-weight: 700; }
a { text-decoration: none; }
.markdown-styling a { color: #fc0; }
.markdown-styling a:hover { color: #ffeb9b; }
.markdown-styling a.self-link, .markdown-styling a.self-link:hover { color: inherit; }
.markdown-styling .isref, .markdown-styling a code { color: #f5e39c; }
.markdown-styling .tip-deco { text-decoration: underline; text-decoration-style: dashed; -webkit-text-underline-position: under; text-underline-position: under; }
.markdown-styling code { background: rgba( 2, 2, 2, .25 ); color: #efefef; padding: 4px 2px; margin-left: 0; margin-right: 0; }
.markdown-styling code code { font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, monospace; color: initial; padding: initial; margin-left: 0; margin-right: 0; }
.markdown-styling li { margin-bottom: .5625em; margin-top: .5625em; }
.markdown-styling .tip li, .markdown-styling .toc li { margin-bottom: 0; margin-top: 0; }
.markdown-styling blockquote { border: 1px dashed hsla( 0, 0%, 100%, .3 ); border-radius: 8px; background: rgba( 90, 155, 90, .2 ); padding: 5px; }
.markdown-styling pre>code { display: block; font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, monospace; border: 2px solid rgba( 18, 18, 18, .5 ); padding: 5px; background: rgba( 2, 2, 2, .25 ); overflow-x: auto; white-space: pre; margin: 10px; }
.markdown-styling table, .markdown-styling td, .markdown-styling th,
.markdown-styling tr { border: 1px solid rgba( 255, 204, 0, .38 ); padding: 5px; }
.markdown-styling table { border-collapse: collapse; }
.markdown-styling tfoot { font-size: .9em; }
.markdown-styling tfoot, .markdown-styling tfoot td, .markdown-styling tfoot th,
.markdown-styling tfoot tr { border-left-style: hidden; border-right-style: hidden; }
.markdown-styling tfoot td { transform: translateY( 3px ); }
.tip { color: inherit; padding: inherit; font-size: inherit; max-width: inherit; word-wrap: inherit; font-family: inherit; font-weight: inherit; line-height: inherit; border-radius: inherit; background-color: inherit; padding-left: 7px; padding-right: 7px; border: 1px solid grey; border-radius: 9px; background: #000; max-width: 320px; z-index: 100; font-size: 14px; }
.tip.warning { background: rgba( 39, 13, 3, .93 ); }
.tip, .tip * { pointer-events: none; }
.tip .contents { max-height: 10em; overflow-y: hidden; overflow-x: hidden; }
.tip .heading { font-size: 1.1em; margin-top: .8em; margin-bottom: 0; }
.tip .omitted-info { opacity: .75; font-size: .8em; font-style: italic; float: right; clear: right; }
.tip .omitted-info:after { content: "See the table entry for more info."; }
.markdown-styling .headless-table>table>thead { display: none; }
.markdown-styling .ins-table, .markdown-styling .ins-table>tbody>tr,
.markdown-styling .ins-table>tbody>tr>td { border: none; }
.markdown-styling .ins-table * { box-sizing: border-box; }
.markdown-styling .ins-table .col-name .ins-siggy-wrapper .punct { color: hsla( 0, 0%, 100%, .19 ); }
.markdown-styling .ins-table td { vertical-align: text-top; }
@media screen and (min-width:601px) {
 .markdown-styling .ins-table { display: table; width: 100%; }
 .markdown-styling .ins-table .ins-table-entry { display: table-row; }
 .markdown-styling .ins-table .col-id { width: 3em; }
 .markdown-styling .ins-table .col-name { width: 20%; min-width: 10em; }
 .markdown-styling .ins-table .col-desc { width: 85%; }
}
@media screen and (max-width:600px) {
 .markdown-styling .ins-table { display: block; }
 .markdown-styling .ins-table>tbody { display: contents; }
 .markdown-styling .ins-table .ins-table-entry { display: block; white-space: nowrap; }
 .markdown-styling .ins-table .ins-table-entry>* { white-space: normal; }
 .markdown-styling .ins-table .col-id { display: inline-block; margin-left: -1em; }
 .markdown-styling .ins-table .col-name { display: inline-block; }
 .markdown-styling .ins-table .col-desc { display: block; width: 100%; }
 .markdown-styling .ins-table .col-desc>:first-child { margin-top: 0; }
 .markdown-styling .ins-table .col-desc>:last-child { margin-bottom: .5em; }
 .markdown-styling .ins-table .col-id { min-width: 1em; }
}
.markdown-styling .ins-siggy-wrapper { font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, monospace; text-indent: -2em; margin-left: 2em; }
.markdown-styling .ins-siggy-wrapper .ins-name { font-weight: 700; font-size: 1.1em; }
.markdown-styling .ins-siggy-wrapper .ins-name[data-wip="0"] { color: #f0f0f0; }
.markdown-styling .ins-siggy-wrapper .ins-params { font-size: .91em; }
.markdown-styling .ins-siggy-wrapper .ins-params .type.float { color: #32e875; }
.markdown-styling .ins-siggy-wrapper .ins-params .type.int { color: #53ceff; }
.markdown-styling .ins-siggy-wrapper .ins-params .type.string { color: #f382f3; }
.markdown-styling .ins-siggy-wrapper .ins-params .type.unknown { color: hsla( 0, 0%, 100%, .4 ); }
.markdown-styling .var-header { font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, monospace; font-weight: 700; font-size: 1.1em; }
.markdown-styling [data-wip="1"] { color: #fa964a; }
.markdown-styling .weak, .markdown-styling .weak code,
.markdown-styling [data-wip="2"], .markdown-styling [data-wip="2"] code { color: hsla( 0, 0%, 100%, .4 ); }
.markdown-styling .weak:hover, .markdown-styling .weak:hover code,
.markdown-styling [data-wip="2"]:hover,
.markdown-styling [data-wip="2"]:hover code { color: hsla( 0, 0%, 100%, .5 ); }
.markdown-styling a.download:before { content: " "; display: inline-block; position: relative; height: 1.2em; width: 1.2em; margin-right: .3em; margin-top: -.2em; top: .3em; background-image: url( download.1d8a1ef7.svg ); background-size: 1.2em 1.2em; }
.markdown-styling details>summary { color: #fc0; cursor: pointer; }
.markdown-styling details.show-more>summary:before { content: "Show more"; }
.markdown-styling details.show-more[open]>summary:before { content: "Show less"; }
