.stats-table { height: 300px; }
.stats-table .zero span { opacity: .3; }
.stats-table .na { background-color: #171520; }
.stats-table .na:after { content: "—"; opacity: .3; }
.stats-table thead { border-collapse: initial; }
.stats-table th { border: 1px solid rgba( 255, 204, 0, .38 ); border-collapse: initial; }
.stats-table tbody th:first-child { text-align: left; }
.stats-table tr:nth-child(odd) th { background-color: #221f31; }
.stats-table thead tr:first-child th, .stats-table tr:nth-child(2n) th { background-color: #282639; }
.stats-table tr:nth-child(odd) { background-color: rgba( 34, 31, 49, .63 ); }
.stats-table tr:nth-child(2n) { background-color: rgba( 40, 38, 57, .63 ); }
.stats-table td { font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, monospace; text-align: right; }
.stats-table table { border-collapse: initial; border: none; border-spacing: 0; }
.stats-table tr { border: none; }
.stats-table td:not(:first-child), .stats-table th:not(:first-child) { border-left: none; }
.stats-table tr:not(:first-child) td, .stats-table tr:not(:first-child) th { border-top: none; }
.layer-viewer-progress .layer-viewer-status.working { animation: working-pulse 2s infinite; }
.layer-viewer-progress .script-total { margin-left: 2em; margin-top: -.6em; margin-bottom: .5em; font-style: italic; opacity: 1%; }
.layer-viewer-scripts { width: 95%; resize: vertical; height: 200px; overflow-x: hidden; overflow-y: scroll; border: 1px solid rgba( 131, 127, 143, .637 ); border-radius: 10px; background-color: rgba( 34, 31, 49, .63 ); padding: 10px; }
.layer-viewer-scripts img { display: block; }
.layer-viewer-scripts .grid-item { background-color: rgba( 51, 255, 255, .03 ); border: 2px solid rgba( 17, 238, 238, .25 ); }
.layer-viewer-scripts .grid-item:hover { transform: scale( 1.1 ); border: 2px solid rgba( 17, 238, 238, .44 ); }
.layer-viewer-scripts .grid-item.warn-multiple-layer { border-color: rgba( 219, 131, 59, .25 ); background-color: rgba( 255, 51, 51, .03 ); }
.layer-viewer-scripts .grid-item .imageless { display: grid; grid-template-rows: 35px 13px 13px; justify-items: center; align-items: center; align-content: center; gap: 5px 0; width: 80px; height: 80px; font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, monospace; }
.layer-viewer-scripts .grid-item .imageless .buffer-type { font-size: 35px; }
.layer-viewer-scripts .grid-item .imageless .sprite-size { font-size: 12px; }
.layer-viewer-scripts .grid-item .imageless .anm-name { font-size: 13px; }
.layer-viewer-progress-bars { max-height: 100px; overflow-y: scroll; border: 1px solid #a4a2aa; border-radius: 10px; background-color: rgba( 34, 31, 49, .63 ); padding: 10px; margin-left: 10%; margin-right: 12.5%; }
.layer-viewer-progress-bars .progress-row { display: flex; flex-direction: row; align-items: center; }
.layer-viewer-progress-bars .progress-row>* { margin-left: 5px; margin-right: 5px; }
.layer-viewer-progress-bars .progress-row .col-specname { min-width: 150px; }
.layer-viewer-progress-bars .progress-row .col-bar { flex-grow: 1; }
.layer-viewer-progress-bars .progress-row .col-counts { min-width: 50px; }
@keyframes working-pulse {
 0% { opacity: .6; }
 50% { opacity: .3; }
 to { opacity: .6; }
}
